/* Page Layout */
.container {
  display: flex;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f6fb;
}

/* Sidebar */
.sidebar {
  width: 240px;
  background-color: #2b2e83;
  color: white;
  position: fixed;
  padding: 20px;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 25px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 12px;
}

.sidebar ul li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  border-radius: 6px;
  transition: 0.3s;
}

.sidebar ul li a:hover {
  background-color: #4448b0;
}

.sidebar ul li.active a {
  background-color: #ffcc00;
  color: black;
  font-weight: bold;
}

/* Main Content */
.main-content{
  margin-left: 250px;
  padding: 20px;
}
.main-content h2 {
  margin-bottom: 25px;
  color: #2b2e83;
}

/* No Bill Box */
.no-bill {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

/* Bill Card */
.bill-card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

/* Header */
.bill-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.bill-header h3 {
  margin: 0;
}

/* Status */
.status {
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
}

.paid {
  background-color: #e6f9ec;
  color: green;
}

.pending {
  background-color: #fff4e5;
  color: orange;
}

/* Bill Details */
.bill-body p {
  margin: 6px 0;
}

/* Buttons */
.bill-actions {
  margin-top: 15px;
}

.bill-actions button {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 14px;
}

/* Buttons Style */
.view-btn {
  background-color: #2b2e83;
  color: white;
}

.view-btn:hover {
  background-color: #1f2165;
}

.download-btn {
  background-color: #28a745;
  color: white;
}

.download-btn:hover {
  background-color: #1e7e34;
}

.pay-btn {
  background-color: #ff4d4d;
  color: white;
}

.pay-btn:hover {
  background-color: #e63b3b;
}